@model string;

<div style="position: fixed; right:25px; bottom:25px;" class="text-white">
    <a class="btn btn-success" asp-controller="@Model" asp-action="Create"><i class="bi bi-plus-circle"></i> Add New</a>
</div>


