<div class="row">
    <div class="col-md-6 offset-3 alert alert-success">
        <h2> Order completed Successfully</h2>
        <p> You can check all your orders in the Orders Section of your Profile</p>
        <hr />
        <p> Thank You! </p>
        <p>
            <a class="btn btn-success text-white float-end" asp-controller="Book", asp-action="Index">
                <i class="bi bi-house"></i> Go Back to Store
            </a>
        </p>
    </div>
</div>